{% extends "_article.html" %}


{% block article %}
  <p>{{ l10n("guide.page-style.intro").format(' href="../credits-spreadsheet/#page-styles"') }}</p>
  <h2>{{ l10n("guide.styleName") }}</h2>
  <p>{{ l10n("guide.page-style.name.text") }}</p>
  <img src="name.png" alt="{{ l10n("guide.settingDemo") }}">
  <h2>{{ l10n("cinecred.ui.styling.page.subsequentGapFrames") }}</h2>
  <p>{{ l10n("guide.page-style.subsequentGap.style") }}</p>
  <img src="subsequent-gap.gif" alt="{{ l10n("guide.settingDemo") }}">
  <p>{{ l10n("guide.page-style.subsequentGap.sheet").format('<a href="../credits-spreadsheet/#page-gap"><em>@' + l10n("cinecred.projectIO.credits.table.pageGap") + "</em></a>") }}</p>
  <h2>{{ l10n("guide.colon").format(l10n("cinecred.ui.styling.page.behavior"), l10n("cinecred.project.PageBehavior.CARD")) }}</h2>
  <p>{{ l10n("guide.page-style.card.intro").format("<em>" + l10n("cinecred.ui.styling.page.behavior") + "</em>", l10n("cinecred.project.PageBehavior.CARD")) }}</p>
  <img src="behavior-card.png" alt="{{ l10n("guide.settingDemo") }}">
  <h3>{{ l10n("cinecred.ui.styling.page.cardRuntimeFrames") }}</h3>
  <p>{{ l10n("guide.page-style.card.runtime.style") }}</p>
  <img src="card-runtime.gif" alt="{{ l10n("guide.settingDemo") }}">
  <p>{{ l10n("guide.page-style.card.runtime.sheet").format('<a href="../credits-spreadsheet/#page-runtime"><em>@' + l10n("cinecred.projectIO.credits.table.pageRuntime") + "</em></a>") }}</p>
  <h3>{{ l10n("guide.page-style.card.fade.title") }}</h3>
  <p>{{ l10n("guide.page-style.card.fade.text").format("<em>" + l10n("cinecred.ui.styling.page.cardFadeIn") + "</em>", ' href="../transition-style/"') }}</p>
  <img src="card-fade.gif" alt="{{ l10n("guide.settingDemo") }}">
  <h2>{{ l10n("guide.colon").format(l10n("cinecred.ui.styling.page.behavior"), l10n("cinecred.project.PageBehavior.SCROLL")) }}</h2>
  <p>{{ l10n("guide.page-style.scroll.intro").format("<em>" + l10n("cinecred.ui.styling.page.behavior") + "</em>", l10n("cinecred.project.PageBehavior.SCROLL")) }}</p>
  <img src="behavior-scroll.png" alt="{{ l10n("guide.settingDemo") }}">
  <h3>{{ l10n("cinecred.ui.styling.page.scrollPxPerFrame") }}</h3>
  <p>{{ l10n("guide.page-style.scroll.perFrame.desc") }}</p>
  <p>{{ l10n("guide.page-style.scroll.perFrame.warning") }}</p>
  <img src="scroll-per-frame.gif" alt="{{ l10n("guide.settingDemo") }}">
  <h3>{{ l10n("cinecred.ui.styling.page.scrollRuntimeFrames") }}</h3>
  <p>{{ l10n("guide.page-style.scroll.runtimeFineAdjustment.style").format('<a href="../page-style/#runtime-fine-adjustment"><em>' + l10n("cinecred.ui.styling.global.runtimeFrames") + "</em></a>") }}</p>
  <img src="../project-settings/runtime-fine-adjustment.gif" alt="{{ l10n("guide.settingDemo") }}">
  <p>{{ l10n("guide.page-style.scroll.runtimeFineAdjustment.sheet").format('<a href="../credits-spreadsheet/#page-runtime"><em>@' + l10n("cinecred.projectIO.credits.table.pageRuntime") + "</em></a>") }}</p>
{% endblock %}
