{% extends "_article.html" %}


{% block article %}
  <p>{{ l10n("guide.credits-spreadsheet.content") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.fileFormat").format("<em>xlsx/xls/ods/numbers/csv</em>", "<em>url/webloc</em>") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.changeFileFormat").format("<em>Credits.xlsx/xls/ods/numbers/csv</em>", "<em>Credits.url/webloc</em>") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.header") }}</p>
  <div class="table-scroll-wrapper">
    <table>
      <tr>
        <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.vGap") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.contentStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.breakHarmonization") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageRuntime") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageGap") }}</th>
      </tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
  </div>
  <p>{{ l10n("guide.credits-spreadsheet.explain") }}</p>
  <h2>{{ l10n("guide.credits-spreadsheet.blocks.title") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.blocks.intro") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.blocks.model") }}</p>
  <ul>
    <li>
      {{ l10n("guide.credits-spreadsheet.blocks.examples.onlyName") }}
      <table>
        <tr>
          <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        </tr>
        <tr><td></td><td>Alex</td><td></td></tr>
      </table>
    </li>
    <li>
      {{ l10n("guide.credits-spreadsheet.blocks.examples.singleCredit").format("Gaffer") }}
      <table>
        <tr>
          <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        </tr>
        <tr><td>Gaffer</td><td>Gustav</td><td></td></tr>
      </table>
    </li>
    <li>
      {{ l10n("guide.credits-spreadsheet.blocks.examples.manyNames").format("Drivers") }}
      <table>
        <tr>
          <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        </tr>
        <tr><td>Drivers</td><td>Dominic</td><td></td></tr>
        <tr><td></td><td>Detlef</td><td></td></tr>
        <tr><td></td><td>Dora</td><td></td></tr>
      </table>
    </li>
    <li>
      {{ l10n("guide.credits-spreadsheet.blocks.examples.song") }}
      <table>
        <tr>
          <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        </tr>
        <tr><td>Loremium Ipsumium</td><td>Written by Cicero</td><td></td></tr>
        <tr><td></td><td>Dedicated to Brutus</td><td></td></tr>
        <tr><td></td><td>Pilfered by Some 60s Typesetter</td><td></td></tr>
      </table>
    </li>
    <li>
      {{ l10n("guide.credits-spreadsheet.blocks.examples.openingTitle") }}
      <table>
        <tr>
          <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
          <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        </tr>
        <tr><td>A</td><td>Dirc</td><td>Film</td></tr>
      </table>
    </li>
  </ul>
  <p>{{ l10n("guide.credits-spreadsheet.blocks.manualLinebreaks").format(' href="#content-styles"', ' href="../content-style/#head-body-tail-orientation"', ' href="../content-style/#body-layout"') }}</p>
  <h3>{{ l10n("guide.credits-spreadsheet.blocks.tags.title") }}</h3>
  <p>{{ l10n("guide.credits-spreadsheet.blocks.tags.blank").format("{{" + l10n("cinecred.blank") + "}}") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
    </tr>
    <tr><td></td><td>Ada Amazing</td><td></td></tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.blank") }}&rbrace;&rbrace;</td><td></td></tr>
    <tr><td></td><td>Ben Baffling</td><td></td></tr>
  </table>
  <img src="blank-tag.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.blocks.tags.style").format(' href="../letter-style/"', "{{" + l10n("cinecred.projectIO.credits.table.style") + "}}", "{{" + l10n("cinecred.projectIO.credits.table.style") + " X}}") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
    </tr>
    <tr><td></td><td>Copyright © 2023 &lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.style") }} {{ l10n("cinecred.project.template.letterStyleName") }}&rbrace;&rbrace;Callie Cash&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.style") }}&rbrace;&rbrace; and &lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.style") }} {{ l10n("cinecred.project.template.letterStyleName") }}&rbrace;&rbrace;Molly Money</td><td></td></tr>
  </table>
  <img src="style-tag.png" alt="">
  <h3>{{ l10n("guide.credits-spreadsheet.picturesAndVideos.title") }}</h3>
  <p>{{ l10n("guide.credits-spreadsheet.picturesAndVideos.how").format("<em>Cinecred.svg</em>", "<em>Blooper.mkv</em>") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
    </tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.pic") }} Cinecred&rbrace;&rbrace;</td><td></td></tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.video") }} Blooper&rbrace;&rbrace;</td><td></td></tr>
  </table>
  <img src="pic-and-video-tags.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.picturesAndVideos.configure").format(' href="../picture-video/"') }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
    </tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.pic") }} Cinecred XXL&rbrace;&rbrace;</td><td></td></tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.pic") }} Cinecred Petit&rbrace;&rbrace;</td><td></td></tr>
  </table>
  <p>{{ l10n("guide.credits-spreadsheet.picturesAndVideos.imgSeqLayout") }}</p>
  <ul>
    <li class="folder">
      {{ l10n("demo.projectDir") }}
      <ul>
        <li class="folder">
          Vanity Card
          <ul>
            <li class="file">Vanity Card.0000001.png</li>
            <li class="file">Vanity Card.0000002.png</li>
            <li class="file">Vanity Card.0000003.png</li>
            <li class="file">…</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <p>{{ l10n("guide.credits-spreadsheet.picturesAndVideos.imgSeqSyntax") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
    </tr>
    <tr><td></td><td>&lbrace;&lbrace;{{ l10n("cinecred.projectIO.credits.table.video") }} Vanity Card&rbrace;&rbrace;</td><td></td></tr>
  </table>
  <h2>{{ l10n("guide.credits-spreadsheet.vGaps.title") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.vGaps.unitBased") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.vGap") }}</th>
    </tr>
    <tr><td></td><td>Crew</td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td>1.5</td></tr>
    <tr><td></td><td>Sarah Supervisor</td><td></td><td></td></tr>
  </table>
  <p>{{ l10n("guide.credits-spreadsheet.vGaps.unit").format(' href="../project-settings/#unit-vertical-gap"') }}</p>
  <img src="vgap.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.vGaps.pixelBased") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.vGap") }}</th>
    </tr>
    <tr><td></td><td>Crew</td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td>10px</td></tr>
    <tr><td></td><td>Sarah Supervisor</td><td></td><td></td></tr>
  </table>
  <h2>{{ l10n("guide.credits-spreadsheet.contentStyles.title") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.contentStyles.need") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.contentStyles.how").format(' href="../content-style/"') }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.contentStyle") }}</th>
    </tr>
    <tr><td></td><td>Crew</td><td></td><td>{{ l10n("cinecred.project.template.contentStyleHeading") }}</td></tr>
    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
    <tr><td>1st Assistant Director</td><td>Sarah Supervisor</td><td></td><td>{{ l10n("cinecred.project.template.contentStyleGutter") }}</td></tr>
    <tr><td>2nd Assistant Director</td><td>Sandro Scheduler</td><td></td><td></td></tr>
  </table>
  <img src="content-styles.png" alt="">
  <h2>{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.spine").format("<em>@" + l10n("cinecred.projectIO.credits.table.spinePos") + "</em>") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.onScrollPages") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</th>
    </tr>
    <tr><td></td><td>I’m a lefty!</td><td></td><td>-150</td></tr>
    <tr><td></td><td>Me too!</td><td></td><td></td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m a righty!</td><td></td><td>150</td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m dead center!</td><td></td><td>0</td></tr>
  </table>
  <img src="spine-position-scroll.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.onCardPages").format(l10n("cinecred.projectIO.credits.table.below"), l10n("cinecred.projectIO.credits.table.above")) }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</th>
    </tr>
    <tr><td></td><td>I’m a lefty!</td><td></td><td>-150</td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m a top-righty!</td><td></td><td>150 -50</td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m below y’all!</td><td></td><td>0 50 {{ l10n("cinecred.projectIO.credits.table.below") }}</td></tr>
    <tr><td></td><td>Me too!</td><td></td><td></td></tr>
  </table>
  <img src="spine-position-card.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.parallel").format(l10n("cinecred.projectIO.credits.table.parallel")) }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</th>
    </tr>
    <tr><td></td><td>I’m a lefty!</td><td></td><td>-150</td></tr>
    <tr><td></td><td>Me too!</td><td></td><td></td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m a righty!</td><td></td><td>150 {{ l10n("cinecred.projectIO.credits.table.parallel") }}</td></tr>
  </table>
  <img src="spine-position-parallel.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.hook").format(l10n("cinecred.projectIO.credits.table.parallel"), l10n("cinecred.projectIO.credits.table.hook"), l10n("cinecred.projectIO.credits.table.top"), l10n("cinecred.projectIO.credits.table.middle"), l10n("cinecred.projectIO.credits.table.bottom")) }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.spinePos") }}</th>
    </tr>
    <tr><td></td><td>I’m the root!</td><td></td><td>-50</td></tr>
    <tr><td></td><td>Hi,</td><td></td><td></td></tr>
    <tr><td></td><td>me too!</td><td></td><td></td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m right beneath!</td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.hook") }} 1 {{ l10n("cinecred.projectIO.credits.table.bottom") }}-{{ l10n("cinecred.projectIO.credits.table.top") }}</td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m a bit offset!</td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.hook") }} 2 {{ l10n("cinecred.projectIO.credits.table.middle") }}-{{ l10n("cinecred.projectIO.credits.table.top") }} 250</td></tr>
    <tr><td></td><td>&nbsp;</td><td></td><td></td></tr>
    <tr><td></td><td>I’m with my friend!</td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.hook") }} 1 {{ l10n("cinecred.projectIO.credits.table.bottom") }}-{{ l10n("cinecred.projectIO.credits.table.top") }} 0 200</td></tr>
  </table>
  <img src="spine-position-hook.png" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.spinePos.compound").format(l10n("cinecred.projectIO.credits.table.parallel"), l10n("cinecred.projectIO.credits.table.hook")) }}</p>
  <h2>{{ l10n("guide.credits-spreadsheet.pageStyles.title") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.pageStyles.intro").format(l10n("cinecred.project.PageBehavior.CARD"), l10n("cinecred.project.PageBehavior.SCROLL")) }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.pageStyles.how") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
    </tr>
    <tr><td>A</td><td>Dirc Director</td><td>Film</td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td></tr>
    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
    <tr><td>Executive Producers</td><td>Callie Cash</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td></tr>
    <tr><td></td><td>Molly Money</td><td></td><td></td></tr>
    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
    <tr><td></td><td>Cast</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td></tr>
    <tr><td></td><td>(in order of appearance)</td><td></td><td></td></tr>
  </table>
  <img src="../user-interface/pages.gif" alt="">
  <h2>{{ l10n("cinecred.projectIO.credits.table.pageRuntime") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.pageRuntime.singlePage").format('<a href="../project-settings/#runtime-fine-adjustment"><em>' + l10n("cinecred.ui.styling.global.runtimeFrames") + "</em></a>", '<a href="../page-style/#runtime-fine-adjustment"><em>' + l10n("cinecred.ui.styling.page.scrollRuntimeFrames") + "</em></a>") }}</p>
  <div class="table-scroll-wrapper">
    <table>
      <tr>
        <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageRuntime") }}</th>
      </tr>
      <tr><td>A</td><td>Dirc Director</td><td>Film</td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td></td></tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>Producer</td><td>Callie Cash</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td>00:00:05:00</td></tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>Tom</td><td>Johnny McRonny</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td></td></tr>
      <tr><td>John</td><td>Ronny von Tommy</td><td></td><td></td><td></td></tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>Gaffer</td><td>Gustav Gluehbirne</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td>00:01:23:00</td></tr>
      <tr><td>Key Grip</td><td>Detlef “Dolly” Driver</td><td></td><td></td><td></td></tr>
    </table>
  </div>
  <p>{{ l10n("guide.credits-spreadsheet.pageRuntime.pageGroup") }}</p>
  <div class="table-scroll-wrapper">
    <table>
      <tr>
        <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageRuntime") }}</th>
      </tr>
      <tr><td>A</td><td>Dirc Director</td><td>Film</td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td></td></tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>Tom</td><td>Johnny McRonny</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td>Blub 00:02:42:20</td></tr>
      <tr><td>John</td><td>Ronny von Tommy</td><td></td><td></td><td></td></tr>
      <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>Gaffer</td><td>Gustav Gluehbirne</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td>Blub</td></tr>
      <tr><td>Key Grip</td><td>Detlef “Dolly” Driver</td><td></td><td></td><td></td></tr>
    </table>
  </div>
  <h2>{{ l10n("cinecred.projectIO.credits.table.pageGap") }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.pause").format('<a href="../page-style/#subsequent-page-gap"><em>' + l10n("cinecred.ui.styling.page.subsequentGapFrames") + "</em></a>") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.melt").format(l10n("cinecred.projectIO.credits.table.melt")) }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.meltTransition").format(' href="../transition-style/"', l10n("cinecred.projectIO.credits.table.melt")) }}</p>
  <div class="table-scroll-wrapper">
    <table>
      <tr>
        <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageGap") }}</th>
      </tr>
      <tr><td>A</td><td>Dirc Director</td><td>Film</td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td>00:00:04:00</td></tr>
      <tr><td>1st AC</td><td>Paul Puller</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td></td></tr>
      <tr><td>2nd AC</td><td>Charly Clapper</td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.melt") }} 00:00:02:00 {{ l10n("cinecred.project.template.transitionStyleLinear") }}</td></tr>
      <tr><td></td><td>Copyright © 2023</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td></td></tr>
    </table>
  </div>
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.pagePreview") }}</p>
  <img src="page-gap-melt.gif" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.videoPreview") }}</p>
  <img src="page-gap-melt-video.gif" alt="">
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.noMeltLimit") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.pageGap.emptyScrollPages") }}</p>
  <div class="table-scroll-wrapper">
    <table>
      <tr>
        <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageStyle") }}</th>
        <th>@{{ l10n("cinecred.projectIO.credits.table.pageGap") }}</th>
      </tr>
      <tr><td>1st AC</td><td>Paul Puller</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td></td></tr>
      <tr><td>2nd AC</td><td>Charly Clapper</td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td>-00:00:03:00</td></tr>
      <tr><td></td><td></td><td></td><td>{{ l10n("cinecred.project.PageBehavior.SCROLL") }}</td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.melt") }}</td></tr>
      <tr><td></td><td>Copyright © 2023</td><td></td><td>{{ l10n("cinecred.project.PageBehavior.CARD") }}</td><td></td></tr>
    </table>
  </div>
  <img src="page-gap-scroll-away.gif" alt="">
  <h2>{{ l10n("guide.credits-spreadsheet.breakHarmonization.title").format(l10n("cinecred.projectIO.credits.table.breakHarmonization")) }}</h2>
  <p>{{ l10n("guide.credits-spreadsheet.breakHarmonization.familiar").format('<a href="../content-style/grid-layout/#harmonize-column-widths"><em>' + l10n("cinecred.ui.styling.content.gridHarmonizeColWidths") + "</em></a>", '<a href="../content-style/grid-layout/#harmonize-row-height"><em>' + l10n("cinecred.ui.styling.content.gridHarmonizeRowHeight") + "</em></a>", '<a href="../content-style/flow-layout/#harmonize-cell-width-height"><em>' + l10n("guide.content-style.flow-layout.harmonize.title") + "</em></a>", '<a href="../content-style/#harmonize-head-tail-width"><em>' + l10n("guide.content-style.headTail.harmonizeWidth.title") + "</em></a>") }}</p>
  <p>{{ l10n("guide.credits-spreadsheet.breakHarmonization.use").format(l10n("cinecred.projectIO.credits.table.head"), l10n("cinecred.projectIO.credits.table.body"), l10n("cinecred.projectIO.credits.table.tail"), "<em>@" + l10n("cinecred.projectIO.credits.table.breakHarmonization") + "</em>") }}</p>
  <table>
    <tr>
      <th>@{{ l10n("cinecred.projectIO.credits.table.head") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.body") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.tail") }}</th>
      <th>@{{ l10n("cinecred.projectIO.credits.table.breakHarmonization") }}</th>
    </tr>
    <tr><td>Director of Photography</td><td>Peter Panner</td><td></td><td></td></tr>
    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
    <tr><td>1st AC</td><td>Paul Puller</td><td></td><td></td></tr>
    <tr><td>2nd AC</td><td>Charly Clapper</td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td>{{ l10n("cinecred.projectIO.credits.table.head") }} {{ l10n("cinecred.projectIO.credits.table.body") }}</td></tr>
    <tr><td>Gaffer</td><td>Gustav Gluehbirne</td><td></td><td></td></tr>
    <tr><td>Key Grip</td><td>Detlef “Dolly” Driver</td><td></td><td></td></tr>
    <tr><td>Best Boy</td><td>Francesco Foreman</td><td></td><td></td></tr>
  </table>
  <img src="break-harmonization.gif" alt="">
{% endblock %}
