{% extends "_article.html" %}


{% block article %}
  <p>{{ l10n("linux-repositories.intro") }}</p>
  <h2 id="apt">APT (Debian, Ubuntu, Mint, &hellip;)</h2>
  <p>{{ l10n("linux-repositories.ownRepo").format("APT") }}</p>
  <ol>
    <li>
      <p>{{ l10n("linux-repositories.apt.pgp") }}</p>
      <pre><code>sudo mkdir -m 755 /etc/apt/keyrings/
sudo wget -P /etc/apt/keyrings/ https://cinecred.com/linux-repositories/cinecred.asc</code></pre>
    </li>
    <li>
      <p>{{ l10n("linux-repositories.apt.repo") }}</p>
      <pre><code>echo 'deb [signed-by=/etc/apt/keyrings/cinecred.asc] https://cinecred.com/debian/ stable main' | sudo tee /etc/apt/sources.list.d/cinecred.list</code></pre>
    </li>
    <li>
      <p>{{ l10n("linux-repositories.installCommands") }}</p>
      <pre><code>sudo apt update
sudo apt install cinecred</code></pre>
    </li>
  </ol>
  <h2 id="yum">YUM (RHEL, Fedora, CentOS, SUSE, &hellip;)</h2>
  <p>{{ l10n("linux-repositories.ownRepo").format("YUM") }}</p>
  <ol>
    <li>
      <p>{{ l10n("linux-repositories.yum.repo").format("<code>/etc/yum.repos.d/cinecred.repo</code>") }}</p>
      <pre><code>[cinecred]
name=Cinecred
baseurl=https://cinecred.com/yum/
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://cinecred.com/linux-repositories/cinecred.asc</code></pre>
    </li>
    <li>
      <p>{{ l10n("linux-repositories.installCommands") }}</p>
      <pre><code>sudo yum install cinecred</code></pre>
    </li>
  </ol>
  <h2 id="aur">AUR (Arch, Manjaro, &hellip;)</h2>
  <p>{{ l10n("linux-repositories.aur.link").format(' href="https://aur.archlinux.org/packages/cinecred/" target="_blank"') }}</p>
  <h2>Flathub</h2>
  <a href="https://flathub.org/{{ choose_transl({"cs": "cs/", "de": "de/", "en": "", "es": "es/", "fr": "fr/", "zh-CN": "zh-Hans/"}) }}apps/com.cinecred.cinecred" target="_blank">
    <img src="flathub.svg" alt="Flathub"/>
  </a>
{% endblock %}
